.Local-Store{
    background: white;
    .PageHeader{
        color:rgb(36, 40, 51);
        font-family: AvenirNext-DemiBold;
        font-size: 34px;
        font-weight: 600;
        height: 46px;
        width: 210px;
        margin: 0 21px;
    }
    .tabs{
        display: flex;
        margin:15px;

        div{
            margin:0 15px;
            align-items: center;
            text-align: center;
        }
    }
    
}